In [1]:
import sys
import os

In [2]:
os.environ.get('JAVA_HOME')

'C:\\Program Files\\Java\\jdk1.8.0_311'

In [3]:
import findspark

findspark.init()

In [22]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql import SparkSession
import numpy as np

In [16]:
spark = SparkSession.builder.appName("SparkApp").master("local").getOrCreate()
sc = spark.sparkContext

# RDD

In [17]:
rdd = sc.parallelize(((1, "Adam"), (2, "Blake"), (3, "Carl")))

In [18]:
rdd.collect()

[(1, 'Adam'), (2, 'Blake'), (3, 'Carl')]

In [21]:
type(rdd)

pyspark.rdd.RDD

# RDD → DF

In [28]:
data = [(1, "Adam"), (2, "Blake"), (3, "Carl")]

In [29]:
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True)
])

In [30]:
df = spark.createDataFrame(data=data, schema=schema)
df.show(truncate=False)

+---+-----+
|id |name |
+---+-----+
|1  |Adam |
|2  |Blake|
|3  |Carl |
+---+-----+

In [38]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [31]:
type(df)

pyspark.sql.dataframe.DataFrame

# DF → RDD (Row)

In [32]:
new_rdd = df.rdd

In [33]:
new_rdd.collect()

[Row(id=1, name='Adam'), Row(id=2, name='Blake'), Row(id=3, name='Carl')]

In [34]:
type(new_rdd)

pyspark.rdd.RDD

In [37]:
data = new_rdd.collect()
for row in data:
    print(f"{row.id} => {row.name}")

1 => Adam
2 => Blake
3 => Carl

# RDD (Row) → DF

In [40]:
new_df = spark.createDataFrame(data=new_rdd, schema=schema)

In [41]:
new_df.show()

+---+-----+
| id| name|
+---+-----+
|  1| Adam|
|  2|Blake|
|  3| Carl|
+---+-----+