In [1]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("test").getOrCreate()

In [3]:
data = [
    (1, "A", 1000, "IT"),
    (2, "B", 1500, "IT"),
    (3, "C", 2500, "IT"),
    (4, "D", 3000, "HR"),
    (5, "E", 2000, "HR"),
    (6, "F", 1000, "HR"),
    (7, "G", 4000, "Sales"),
    (8, "H", 4000, "Sales"),
    (9, "I", 1000, "Sales"),
    (10, "J", 2000, "Sales"),
]
df = spark.createDataFrame(data, ["emp_id", "emp_name", "salary", "dept_name"])
df.show()

+------+--------+------+---------+
|emp_id|emp_name|salary|dept_name|
+------+--------+------+---------+
|     1|       A|  1000|       IT|
|     2|       B|  1500|       IT|
|     3|       C|  2500|       IT|
|     4|       D|  3000|       HR|
|     5|       E|  2000|       HR|
|     6|       F|  1000|       HR|
|     7|       G|  4000|    Sales|
|     8|       H|  4000|    Sales|
|     9|       I|  1000|    Sales|
|    10|       J|  2000|    Sales|
+------+--------+------+---------+

In [4]:
(
    df.select("*")
    .withColumn(
        "rank", rank().over(Window.partitionBy("dept_name").orderBy(desc("salary")))
    )
    .where(col("rank") == 1)
    .select("emp_id", "emp_name", "dept_name", "salary")
    .orderBy("emp_id")
    .show()
)

+------+--------+---------+------+
|emp_id|emp_name|dept_name|salary|
+------+--------+---------+------+
|     3|       C|       IT|  2500|
|     4|       D|       HR|  3000|
|     7|       G|    Sales|  4000|
|     8|       H|    Sales|  4000|
+------+--------+---------+------+