In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("test").getOrCreate()

In [3]:
data = [
    [111, "David", 8],
    [222, "Thomas", 12],
    [111, "David", 8],
    [222, "Thomas", 6],
]
df = spark.createDataFrame(data, ["id", "name", "sales"])
df.show()

+---+------+-----+
| id|  name|sales|
+---+------+-----+
|111| David|    8|
|222|Thomas|   12|
|111| David|    8|
|222|Thomas|    6|
+---+------+-----+

In [4]:
df.distinct().show()

+---+------+-----+
| id|  name|sales|
+---+------+-----+
|111| David|    8|
|222|Thomas|   12|
|222|Thomas|    6|
+---+------+-----+

In [5]:
df.dropDuplicates().show()

+---+------+-----+
| id|  name|sales|
+---+------+-----+
|111| David|    8|
|222|Thomas|   12|
|222|Thomas|    6|
+---+------+-----+

### Subset

In [6]:
data = [
    [111, "David", 8],
    [222, "Thomas", 12],
    [111, "David", 8],
    [222, "Thomas", 6],
]
df = spark.createDataFrame(data, ["id", "name", "sales"])
df.show()

+---+------+-----+
| id|  name|sales|
+---+------+-----+
|111| David|    8|
|222|Thomas|   12|
|111| David|    8|
|222|Thomas|    6|
+---+------+-----+

In [7]:
df.select("id", "name").distinct().show()

+---+------+
| id|  name|
+---+------+
|111| David|
|222|Thomas|
+---+------+

In [8]:
df.dropDuplicates(["id", "name"]).show()

+---+------+-----+
| id|  name|sales|
+---+------+-----+
|111| David|    8|
|222|Thomas|   12|
+---+------+-----+