In [1]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("test").getOrCreate()

In [3]:
data = [
    [1, "John", 6000, 4],
    [2, "Kevin", 11000, 4],
    [3, "Bob", 8000, 5],
    [4, "Laura", 9000, None],
    [5, "Sarah", 10000, None],
]
df = spark.createDataFrame(data, ["id", "name", "salary", "manager_id"])
df.show()

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
|  1| John|  6000|         4|
|  2|Kevin| 11000|         4|
|  3|  Bob|  8000|         5|
|  4|Laura|  9000|      null|
|  5|Sarah| 10000|      null|
+---+-----+------+----------+

In [4]:
df1 = (
    df.alias("emp")
    .join(df.alias("mgr"), col("emp.manager_id") == col("mgr.id"))
    .filter(col("emp.salary") > col("mgr.salary"))
    .orderBy(desc(col("emp.salary")))
)
df1.show()

+---+-----+------+----------+---+-----+------+----------+
| id| name|salary|manager_id| id| name|salary|manager_id|
+---+-----+------+----------+---+-----+------+----------+
|  2|Kevin| 11000|         4|  4|Laura|  9000|      null|
+---+-----+------+----------+---+-----+------+----------+

In [5]:
df1.select("emp.name").show()

+-----+
| name|
+-----+
|Kevin|
+-----+