In [4]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [5]:
spark = SparkSession.builder.appName("test").getOrCreate()

In [6]:
data = [
    [1, "Alice", "HR", 60000],
    [2, "Bob", "HR", 50000],
    [3, "Charlie", "Finance", 70000],
    [4, "David", "Finance", 75000],
    [5, "Eve", "Engineering", 90000],
    [6, "Frank", "Engineering", 93000],
    [7, "Grace", "HR", 45000],
    [8, "Hank", "Engineering", 98000],
    [9, "Ivy", "Finance", 66000],
]
df = spark.createDataFrame(data, ["emp_id", "emp_name", "dept", "salary"])
df.show()

+------+--------+-----------+------+
|emp_id|emp_name|       dept|salary|
+------+--------+-----------+------+
|     1|   Alice|         HR| 60000|
|     2|     Bob|         HR| 50000|
|     3| Charlie|    Finance| 70000|
|     4|   David|    Finance| 75000|
|     5|     Eve|Engineering| 90000|
|     6|   Frank|Engineering| 93000|
|     7|   Grace|         HR| 45000|
|     8|    Hank|Engineering| 98000|
|     9|     Ivy|    Finance| 66000|
+------+--------+-----------+------+

In [7]:
df1 = df.withColumn("avg_salary", avg("salary").over(Window.partitionBy("dept")))
df1.show()

+------+--------+-----------+------+------------------+
|emp_id|emp_name|       dept|salary|        avg_salary|
+------+--------+-----------+------+------------------+
|     5|     Eve|Engineering| 90000| 93666.66666666667|
|     6|   Frank|Engineering| 93000| 93666.66666666667|
|     8|    Hank|Engineering| 98000| 93666.66666666667|
|     3| Charlie|    Finance| 70000| 70333.33333333333|
|     4|   David|    Finance| 75000| 70333.33333333333|
|     9|     Ivy|    Finance| 66000| 70333.33333333333|
|     1|   Alice|         HR| 60000|51666.666666666664|
|     2|     Bob|         HR| 50000|51666.666666666664|
|     7|   Grace|         HR| 45000|51666.666666666664|
+------+--------+-----------+------+------------------+

In [8]:
df1.where(col("salary") > col("avg_salary")).select("emp_name", "dept", "salary", "avg_salary").show()

+--------+-----------+------+------------------+
|emp_name|       dept|salary|        avg_salary|
+--------+-----------+------+------------------+
|    Hank|Engineering| 98000| 93666.66666666667|
|   David|    Finance| 75000| 70333.33333333333|
|   Alice|         HR| 60000|51666.666666666664|
+--------+-----------+------+------------------+