In [1]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("test").getOrCreate()

In [3]:
data1 = [
    (1, "Ram", "Male", 100), 
    (2, "Radhe", "Female", 200), 
    (3, "John", "Male", 250)
]
schema1 = ["id", "name", "gender", "salary"]
df1 = spark.createDataFrame(data1, schema1)
df1.show()

data2 = [
    (101, "John", "Male", 100),
    (102, "Joanne", "Female", 250),
    (103, "Smith", "Male", 250),
]
schema2 = ["id", "name", "gender", "salary"]
df2 = spark.createDataFrame(data2, schema2)
df2.show()

data3 = [
    (1001, "Maxwell", "IT", 200), 
    (2, "MSD", "HR", 350), 
    (3, "Virat", "IT", 300)
]
schema3 = ["id", "name", "department", "salary"]
df3 = spark.createDataFrame(data3, schema3)
df3.show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1|  Ram|  Male|   100|
|  2|Radhe|Female|   200|
|  3| John|  Male|   250|
+---+-----+------+------+

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|101|  John|  Male|   100|
|102|Joanne|Female|   250|
|103| Smith|  Male|   250|
+---+------+------+------+

+----+-------+----------+------+
|  id|   name|department|salary|
+----+-------+----------+------+
|1001|Maxwell|        IT|   200|
|   2|    MSD|        HR|   350|
|   3|  Virat|        IT|   300|
+----+-------+----------+------+

In [5]:
df1.schema

StructType([StructField('id', LongType(), True), StructField('name', StringType(), True), StructField('gender', StringType(), True), StructField('salary', LongType(), True)])

In [6]:
type(df1.schema)

pyspark.sql.types.StructType

In [32]:
for struct_field in df1.schema:
        print(f"{struct_field.name} {struct_field.dataType} {struct_field.nullable}")

id LongType() True
name StringType() True
gender StringType() True
salary LongType() True

In [33]:
df1.schema == df2.schema

True

In [34]:
df1.schema == df3.schema

False