In [1]:
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder.appName("test").getOrCreate()

### Split String

In [3]:
data = [("Joanne", "040-20215632"), ("Tom", "044-23651023"), ("John", "086-12456782")]
schema = ["name", "phone"]
df = spark.createDataFrame(data, schema)
df.show()

+------+------------+
|  name|       phone|
+------+------------+
|Joanne|040-20215632|
|   Tom|044-23651023|
|  John|086-12456782|
+------+------------+

In [5]:
df1 = (
    df
    .withColumn("std_code", split(df.phone, "-").getItem(0))
    .withColumn("phone_num", split(df.phone, "-").getItem(1))
)
df1.show()

+------+------------+--------+---------+
|  name|       phone|std_code|phone_num|
+------+------------+--------+---------+
|Joanne|040-20215632|     040| 20215632|
|   Tom|044-23651023|     044| 23651023|
|  John|086-12456782|     086| 12456782|
+------+------------+--------+---------+