In [1]:
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder.appName("test").getOrCreate()

In [3]:
data = [
    (1, "Adam", "Data Engineer"),
    (2, "Brydon", "Data Analyst"),
    (3, "Carl", "Data Science"),
]
columns = ["id", "name", "department"]
df1 = spark.createDataFrame(data, columns)
df1.show()

+---+------+-------------+
| id|  name|   department|
+---+------+-------------+
|  1|  Adam|Data Engineer|
|  2|Brydon| Data Analyst|
|  3|  Carl| Data Science|
+---+------+-------------+

In [4]:
data = [(3, "David"), (4, "Ellen"), (5, "Frank")]
columns = ["id", "name"]
df2 = spark.createDataFrame(data, columns)
df2.show()

+---+-----+
| id| name|
+---+-----+
|  3|David|
|  4|Ellen|
|  5|Frank|
+---+-----+

In [5]:
df1.printSchema()
df2.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

**Below will not work.**

```python
df1.union(df2).show()
```

**Error:**
```
AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 3 columns and the second input has 2 columns.;
'Union false, false
:- LogicalRDD [id#0L, name#1, department#2], false
+- LogicalRDD [id#19L, name#20], false
```

In [6]:
df1.union(df2.select(df2.columns)).show()

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 3 columns and the second input has 2 columns.;
'Union false, false
:- LogicalRDD [id#0L, name#1, department#2], false
+- Project [id#19L, name#20]
   +- LogicalRDD [id#19L, name#20], false

In [ ]:
df2 = df2.withColumn("department", lit("NA"))
df2.show()

In [ ]:
df1.union(df2).show()

### Explode

In [ ]:
spark.sql("SELECT explode(array(1000,24000,36000,4600)) AS exploded_array").show()